.intro {
   
  position: relative;
    &::after{
     content: "";
     position: absolute;
     display: block;
     width: 100%;
     height: 100%;
     background: rgba(249, 249, 249, 0.9);
opacity: 0.95;
background-image: url(../../img/intro_bg.jpg);
background-size: cover;
background-position: center;
left: 0;
bottom: 0px;
     z-index: -1;
     opacity: .3;
     top: 0;
    }
}

.intro__container {
    // position: absolute;
    display: flex;
    padding-top: 60px;
    z-index: 2;

}
.intro__content {
    // position: absolute;
    width: 505px;
    margin-top: 215px;
    margin-bottom: 194px;
    margin-right: 60px;
    z-index: 5;
}
.intro__title {
    font-weight: 900;
font-size: 40px;
line-height: 50px;
color: #333333;
}
.intro__text {
    font-weight: 400;
font-size: 25px;
line-height: 40px;
color: #000;
}
.intro__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__img {
    width: 900px;
    height: 990px;
}
.intro__bar{
    width: 120px;
    height: 5px;
    border: 0.1px solid #1B6B50;
    margin-top: 40px;
    border-radius: 10px;
    &:hover .intro__bar_actove{
    
            width: 100%;
            
        
    }
}
.intro__bar_actove{
    width: 50%;
    background-color: $accent-color;
    height: 100%;
    transition: 1s ease all;
    
   
}
@media screen and (max-width:  $macBok) {
  
    .intro__img{
        margin-top: 60px;
        width: 800px;
        height: 616px;
    }
    .intro__title{
        font-weight: 900;
font-size: 35px;
line-height: 50px;
margin-top: 0;
    }
.intro__content{
    width: 424px;
    margin-top: 125px;
    margin-bottom: 117px;
}
    .intro__text{
        font-weight: 400;
font-size: 24px;
line-height: 40px;
margin: 0;
    }
    .intro__links{
        margin-top: 0px;
    }
    .intro__title{
        margin: 0;
        margin-bottom: 15px;
    }
}